
textarea {
    min-height: 400px;
}

.row {
    height:50px;
    border: 1px solid grey;
    margin: 8px;
}

.row > div {
    
    display: flex;
    align-items: center;
}

#email_box_unreaded {
    background-color: #CBCBCB;
}

#archive_button {
    padding-right: 0;
    height:100%
}